@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<AuthorizeView>

    <Authorized>
        您已登录成功
    </Authorized>

    <NotAuthorized>
        请您登录系统
    </NotAuthorized>

    <Authorizing>
        正在与服务中心联系。。。
    </Authorizing>

</AuthorizeView>