@inject NavigationManager Navigation
@inject IAuthService MyAuthProvider


<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name !</p>
        <button @onclick ="LogOut">退出</button>
    </Authorized>

    <Authorizing>
        <p>正在与服务器通讯中···</p>
    </Authorizing>

    <NotAuthorized>
        <p>Hello, 欢迎访问本站</p>
        <button @onclick ="GoLogin">登录</button>
        <button>注册</button>
    </NotAuthorized>
</AuthorizeView>


@code
{
    private void GoLogin()
    {
        Navigation.NavigateTo($"/auth/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
    }

    private void LogOut()
    {
        MyAuthProvider.Logout();
        Navigation.NavigateTo("/");
    }
}